@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

:root{
    --cor01:#F78B00;
    --cor02:#00285F;
}

body, html {
    font-family: Arial, Helvetica, sans-serif;
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
}

.container{
    width: 100%;
    height: 100vh;
}

.orange{
    background-color: var(--cor01);
    height: 500px;
    position: relative;
}



.cabecalho{
    display: flex;
    align-items: center;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
   width: 80%;
   height: 150px;
   
}

.cabecalho ul{
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
    position: absolute;
    left: 63%;
}

.cabecalho ul li {
    padding-right: 20px;
    list-style: none;
}

.cabecalho ul li a {
    text-decoration: none;
    color: var(--cor02);
    font-size: 17px;
}

.cabecalho ul li a:hover{
    color: rgba(11, 11, 102, 0.418);
    transition-duration: 0.5s;
}

#p-superior{        
    color: var(--cor02);
    font-size: 23px;
    position: absolute;
    left: 5%;
}

.cabecalho button {
    left: 110%;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-right: 40px;
    padding-left: 40px;
    background-color:transparent;
    border: 1px solid var(--cor02);
    border-radius: 5px;
    color: var(--cor02);
    font-weight: bold;
}

.cabecalho button:hover{
    background-color: var(--cor02);
    cursor: pointer;
    transition-duration: 0.5s;
    color: white;
}


.cabecalho-02{
    border-radius: 10px;
     background-color: var(--cor02);
    width: 960px;
   height: 430px;
   position: absolute;
   left: 50%;
    transform: translateX(-50%);
}

#carro1{
    position:absolute;
    width: 50%;
    top: 32%;
    left: 48%;
}



.title{
    position: relative;
    width: 300px;
    height: 170px;
    top: 40%;
    left: 15%;
    text-align: right;
}

#titleh1{
    color: white;
    font-size: 25px;
    padding-bottom: 25px;
    font-weight: bolder;
}

#para1{
    color: white;
    line-height: 20px;
}


 @media screen and (max-width: 1000px){
        .cabecalho ul li{
            display: none;
        }

        #carro1{
            position:absolute;
            width: 70%;
            top: 50%;
            left: 13%;
        }

        .title{
            position: relative;
            width: 300px;
            height: 170px;
            top: 15%;
            left: 15%;
            text-align: right;
        }

        
 }

 @media screen and (max-width: 600px){
    #carro1{
        position:absolute;
        width: 80%;
        top: 50%;
        left: 10%;
    }

    .title{
        position: relative;
        width: 280px;
        height: 170px;
        top: 8%;
        left: 10%;
        text-align: right;
    }

    .cabecalho-02{
        border-radius: 10px;
         background-color: var(--cor02);
        width: 95%;
       height: 450px;
       position: absolute;
       left: 50%;
        transform: translateX(-50%);
    }

    .cabecalho{
        display: flex;
        align-items: center;
        position: relative;
        left: 58%;
        transform: translateX(-50%);
       width: 120%;
       height: 150px;
       
    }

    
 }